#content{width: 1000px; margin: 0 auto; font-family: 'Nanum Gothic', sans-serif; overflow: hidden}
.content{width: 700px; margin: 0 auto 150px auto; font-family: 'Nanum Gothic', sans-serif; overflow: hidden}

#wrap li{list-style: none}
#wrap a{text-decoration: none}

#wrap .title_area{text-align: center; font-family: 'Roboto', sans-serif; font-weight:700}
.title_area h2{font-size: 60px; margin-bottom: 100px;}

#wrap #content .title_area{text-align: center; font-family: 'Roboto', sans-serif; font-weight:700; margin: 70px 0}
#wrap #content .title_area h2{margin-bottom: 70px}

#list_top_title ul li{width: 100px}

/* list css */

.list_item .cont{position: absolute; right: 20px; bottom: 65px; width: 57%; line-height: 1.5em}
#list_search{
	height:30px;
	padding-top:10px;
}

#list_search #list_search1{
	float:left;
	margin-top:2px;
}

#list_search #list_search1 select{border: 1px solid #ccc; height: 30px; padding-left: 5px; margin-left: 5px}


#list_search #list_search3{
	float:left;
	margin-left: 250px;
	margin-top:1px;
    margin-right: 5px
}

#list_search #list_search3 select{
	width:80px;
	height: 34px;
    margin-top: -1px;
	border:solid 1px #cccccc;
    padding-left: 5px
}

#list_search #list_search4{
	float:left;
	margin-left:3px;
    margin-right: 10px
}

#list_search #list_search4 input{
	width:100px;
	height:30px;
	border:solid 1px #cccccc;
}

#list_search #list_search5{
	float:left;
	margin-top:1px;
}

#list_top_title{
	height:20px;
	padding:10px;  
	background-color: #9A4388;
	margin-bottom:3px;
    margin-top: 30px
}

#list_top_title li{
	display:inline;
    color: #fff;
    font-weight: 800
}


#list_content{
	height:380px;
}

.list_item{
	height: 180px;
	margin-top:2px;
	padding: 10px;  
	border: 2px solid #C9AECF;
    position: relative;
    font-size: 16px;
    margin-bottom: 50px
        
}
.list_item:first-child{margin-top: 70px}

.list_item img{margin-left: 20px; margin-top: 15px}
.list_item .listbox{position: absolute; bottom: 10px; right: 50px; text-align: center}
.list_item .listbox ul{float: left}

.topbox{position: absolute; top: 25px; left: 288px; overflow: hidden}
.list_item  .topbox li{margin-left: 15px}
.list_item li{float: left; margin-left: 5px; margin-bottom: 10px}
.list_item li i{font-size: 18px}

.list_item .list_item3 {margin-right: 30px; overflow: hidden}


.list_item .list_item4 {margin-right: 30px; overflow: hidden}


.list_item .list_item5 {overflow: hidden}

#page_button{
    margin-top: 25px;
    margin-left: 150px;
}

#page_num{
	float:left;
	width:77%;
	text-align:center;
}

#button{
	float:left;
	width:23%;
	text-align:right;
    padding-bottom: 10px;
    margin-top: -20px
}

#button a{color: #fff; font-weight: 800; background: #9A4388; margin-right: 10px; padding: 5px;}
#button a:last-child{margin-right: 0}

/* write_form css */

#write_form ul{border-bottom: 1px solid #C9AECF; width: 1000px; padding-left: 0}

#write_form_title{
	margin-top:30px;
	width: 1000px;
	height:30px;
	text-align:center;
	padding-top:7px;  
	background-color:#9A4388;
    color: #fff;
    font-weight: 800;
    padding-left: 0;
    margin: 0 auto;
}


#write_form #write_row1{
    width: 1000px; 
	height:40px; 
	margin:10px 0; 
}

#write_form #write_row2{
    width: 1000px; 
	height:40px; 
	margin:10px 0; 
}

#write_form #write_row3{
    width: 1000px; 
	height:280px; 
	margin:15px 0; 
}



#write_form .col1{
	float:left;
	width:120px;
	text-align:center;
	padding:5px;
}

#write_form #write_row3 .col1{
	height:126px;
	padding-top:120px;
}

#write_form .col2{
	float:left;
	margin-left: 8px;
	margin-top:2px;
}

#write_form #write_row1 .col2{
	float:left;
    font-size: 18px
}

#write_form #write_row1 .col3{
	float:left;
	margin-top:4px;
	margin-left:100px;
}

#write_row2 .col2 input{
	width:850px;
	height:17px;
	border:solid 1px #cccccc;
}

#write_row3 .col2 textarea{
    margin-top:1px;
	border:solid 1px #cccccc;
    width: 850px
}

#write_row3 .col3 input{margin-left: 8px; margin-top: 10px}

#write_button{
	width:97%;
	text-align:right;
    margin-top: 50px;
    margin-bottom: 100px;
}

#write_button a{color: #fff; font-weight: 800; background: #9A4388; padding: 5px; margin-right: -25px; margin-left: 25px; font-size: 14px}


.delete_ok{margin-left: 310px; font-size: 12px; margin-top: -24px}
.imgbox ul{overflow: hidden; padding-left: 0}
.imgbox ul li{float: left; margin-left: 23px}
.imgbox ul li:last-of-type{margin-left: 27px}
.imgbox #write_row4{border-bottom: 1px solid #C9AECF; padding-bottom: 5px; height: 30px; padding-top: 2px}
.imgbox #write_row5{border-bottom: 1px solid #C9AECF; padding-bottom: 5px; height: 30px; padding-top: 15px}
.imgbox #write_row6{border-bottom: 1px solid #C9AECF; padding-bottom: 5px; height: 30px; padding-top: 15px}



/* view.php css */


#view_title{text-align: center;
	height:30px;
	padding:12px 8px 8px 8px;  
	background-color:#9A4388;
    color: #fff;
    overflow: hidden;
    margin-top: 4px
}



#view_title1{font-weight: 800}
#view_title2{text-align: right; font-size: 12px; margin-top: -13px}

#view_content{
	min-height:200px;
	padding:30px 0 50px 0;
	overflow:hidden;
	line-height:150%;
    border-top: none;
	border:solid 1px #C9AECF;
    text-align: center
}

#view_content p{text-align: left; width: 96%; margin-left: 2%}
#view_content img{margin-bottom: 20px}

#view_button{
	width:98%;
	text-align:right;
    margin-top: 50px;
    margin-bottom: 100px;
}

#view_button a{color: #fff; font-weight: 800; background: #9A4388; padding: 5px; font-size: 14px}